.fields
  %table.grid-selection{:cellpadding => 0, :cellspacing => 0}
    %col{:width => 200}
    %tr
      %td.first
        %span
          -if !f.object.new_record?
            = @contacto.nombre 
        = f.hidden_field :contacto_id, :class => "proyecto_contactos_hidden"
      %td
        = remove_child_link "Eliminar", f 
 
