= render(:partial => "shared/adminmenu")
.component-navigator-tabs
  %ul
    %li.tab-select.first
      %a#tab-form{:href => "javascript:void(0)"} Nuevo Proyecto
    %li.clearfix
.component-search
  =error_messages_for :proyecto, :header_message => "Errores:", :message => ""
  - form_for(@proyecto) do |f|
    .component-search-forms.forms-two-cols
      = render :partial => 'fields', :locals => {:f => f,
                                                 :tareas => @tareas,
                                                 :contactos => @contactos,
                                                 :usuarios => @usuarios}
      .clearfix
    .component-search-actions
      = f.submit 'Crear'
      = link_to 'Cancelar', proyectos_path
