<p>
  <b>Descripcion:</b>
  <%=h @proyecto.descripcion %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @proyecto.cliente.descripcion %>
</p>


<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>