%ol.forms-structure-rows
  %li
    .forms-row-single-division.left 
      = f.label :descripcion
    .forms-row-single-division.right 
      = f.text_field :descripcion 
  %li
    .forms-row-single-division.left 
      = f.label :tipo
    .forms-row-single-division.right 
      = f.text_field :tipo 
