#div-nuevo-timesheet.component-container.jqmWindow
  %div{:style => "height:120px;"}
    %form#form-nuevo{:action => "create"}
      %div{:style => "width: 250px; height:120px; float:left; padding:5px;"}
        %p
          %div
            %label{:for => "temporizador_proyecto_id"}
              %b Cliente/Proyecto
            %select#temporizador_proyecto_id{:name => "temporizador[proyecto_id]", :style => "width:240px;"}
              - @clientesProyectos.each do |cli|
                %optgroup{:label => cli.descripcion}
                  - cli.proyectos.each do |pro|
                    %option{:value => pro.id}= pro.descripcion
          %div{:style => "margin-top:5px;"}
            %label{:for => "temporizador_tarea_id"}
              %b Actividad
            %br/
            %select#temporizador_tarea_id{:name => "temporizador[tarea_id]", :style => "width:240px;"}
              %optgroup{:label => "Facturable"}
                - @tareas_facturables.each do |t|
                  %option{:value => t.id}= t.descripcion
              %optgroup{:label => "No Facturable"}
                - @tareas_no_facturables.each do |t|
                  %option{:value => t.id}= t.descripcion
      %div{:style => "width: 150px; height:120px; float: left; padding:5px;"}
        %p
          %label{:for => "temporizador_tiempo_base"} Horas:Minutos
          %input#temporizador_tiempo_base.timer{:maxlength => "4", :name => "tiempo_base", :style => "border:solid 1px; font-size: 38px; width: 140px; height:64px;"}/
      %div{:style => "width: 400px; height:120px; float: left; padding:5px;"}
        %p
          %textarea#temporizador_descripcion{:cols => "60", :maxlength => "500", :name => "temporizador[descripcion]", :style => "height:65px; width:450px; border:solid 1px; margin-top:15px;"}
        %input#temporizador_usuario_id{:name => "temporizador[usuario_id]", :type => "hidden", :value => @usuario.id}/
        %input#temporizador_id{:name => "id", :type => "hidden", :value => "-1"}/
  .component-search-actions
    %button#lnk-guardar-timesheet
      %div
        %span#lnk-span-guardar-timesheet Iniciar
    %button#lnk-cancelar-timesheet.jqmClose
      %div
        %span#lnk-span-cancelar-timesheet Cancelar

#form-submit-timesheet
  - form_remote_tag :url => { :action => 'index'} do
    %input{:id => "fecha", :name => "fecha", :type => "hidden", :value => "#{fecha}"}
