%div{"data-role" => "page", "data-theme" => "a", :id =>"jqm-3"}
  %div{"data-role" => "header", :id => "jqm"}
    %h1 About Trilla
  %div{"data-role" => "content"}
    Trilla is a web application developed on RoR that enables to your organization the time-tracking. Other names for this application are: "JarBest", "Cosecha", "Facturator", "Delathor".
    %br/ 
    %br/
    This application was rendered with HAML templates in addition to jQuery Mobile. 
    %br/
    %br/
    The container, is an iOS application developed with Titanium
    
