:erb
  <script type="text/javascript">
      $(function() {
      $(".lnk_reloj").click(function() {
      /*
        var theName = $.trim($("#theName").val());
          $.ajax({
          type: "POST",
          url: "http://10.0.2.2/mobileajax/callajax.php",
          data: ({name: theName}),
          cache: false,
          dataType: "text",
          success: onSuccess
          });
        }*/
        alert("hola Mundo");
      });
 
      function onSuccess(data)
      {
       // $("#resultLog").html("Result: " + data);
      }
 
      });
  </script>

%div{"data-role" => "page", "data-theme" => "a", :id =>"jqm-2"}
  %div{"data-role" => "header", :id => "jqm"}
    %h1 Time Tracking	
  %div{"data-role" => "content"}
    %ul{"data-role" => "listview", "data-inset"=>"true", "data-theme"=>"c", "data-dividertheme"=>"a", "data-splittheme"=>"a", "data-split-icon" => "gear"}
      %li{"data-role"=>"list-divider"} 
        =@fecha
      - @temporizadores.each do |tempo|
        = render(:partial => "mobclock", :locals => { :tempo => tempo})

   

	
      

