- usuario = session[:usuario]
.component-message-result
  %p
    %b Administraci&oacute;n:
    = usuario.nombres.capitalize
  %a.accion{:href => "/timesheet"} Timesheet
#tab.component-navigator-tabs
  %ul
    %li.tab-select.first
      %a#tab-proyectos.tab-mantenedor{:href => "javascript:;", :title => proyectos_path} Proyectos
    - if usuario.perfil == 'ADMIN'
      %li.tab-unselect
        %a.tab-mantenedor{:href => "javascript:;", :title => usuarios_path} Usuarios
      %li.tab-unselect
        %a#tab-clientes.tab-mantenedor{:href => "javascript:;", :title => clientes_path} Clientes
      %li.tab-unselect.last
        %a.tab-mantenedor{:href => "javascript:;", :title => tareas_path} Tareas
    %li.clearfix
      
%div{:style => "height: 400px;"}
  %iframe#iframe-mantenedor{:frameborder => "no", :height => "100%", :src => "", :width => "100%"}
    
:javascript
  /*
   *	@autor victor utreras
   */
  (function ($) {
  
  	$(document).ready(function () {
  
  		$('.tab-mantenedor').click(function(event){
  			
  			$('#iframe-mantenedor').attr('src',$(this).attr('title'));
  			
  			event.preventDefault();
  		});
  		
  		$('#tab-proyectos').click();
  	});	
  	
  })(jQuery);		
  
  	
