/* Controles UI ACHS */
/* CSS de la Aplicaci�n de Componentes */
/* Desarrollado por Continuum Lltda. 2010 */
/*=============================*/

body {
	padding:0;
	margin:0;
	background:#999;
	font-family:Helvetica, Arial, sans-serif;
}

/* Forms */

form {
	padding:0;
	margin:0;
	outline:0px;
}

/* T�tulos */

h1 {
	font-size:28px;
	margin:0;
	color:#FFF;
	text-shadow: -1px -1px 6px #000000;
	letter-spacing:-1px;
}

a {
	color:#333;
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}

/* Aplicacion */

.header-app {
	width:980px;
	margin:0 auto;
	font-size:12px;
	padding:50px 0 15px 0;
	background:url(../images/achs-logo.png) no-repeat 926px 30px;
}

.footer-app {
	width:980px;
	margin:0 auto;
	color:#3C0;
}

.footer-app h6 {
	margin:10px 5px;
	text-align:right;
	color:#fff;
}

.app {
	width:980px;
	margin:0 auto;
	font-size:12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0 0 20px #000;
	box-shadow:0 0 20px #000;
	-webkit-box-shadow:0 0 20px #000;
	background:#FFF;
	overflow:hidden;
	background:url(../images/sidebar-bg.gif) repeat-y 282px 0 #fff;
}

.app .sidebar {
	width:250px;
	float:left;
	padding:10px 25px;
}

.app .sidebar ul {
	margin-bottom:25px;
}

.app .sidebar ul li {
	text-decoration:none;
}

.app .sidebar a {
	text-decoration:none;
	padding:8px 6px;
	border-bottom:1px solid #eee;
	display:block;
	outline:0px;
	color:#666;
}

.app .sidebar a:hover {
	background:#E9EFFF;
}

.app .content {
	width:630px;
	float:left;
	padding:10px 20px;
	border-left:1px dotted #ccc;
	min-height:675px;
}

.app .content h2 {
	font-size:24px;
	color:#006600;
	margin:0;
	padding:18px 0 0 0;
	display:block;
}

.app .content p {
	line-height:18px;
}

.app .sidebar h3 {
	font-size:18px;
	margin:0;
	padding:18px 0;
	display:block;
}

.detalle-componente {
	color:#666;
	line-height:18px;
	margin:18px 0;
}

.codigo-componente {
	margin:15px 0 30px 0;
	border-top:1px solid #eee;
	padding-top:10px;
}

.codigo-componente pre {
	background-color:#F1F1F1;
	overflow:auto;
	padding:10px;
}

.app .content h4 {
	font-weight:bold;
	font-size:18px;
	margin-bottom:12px;
	margin-top:30px;
	display:block;
}

.codigo-componente .classList li {
	margin:3px 0;
}

.codigo-componente .doc-nav {
	overflow:hidden;
	background:#ddd;
	margin:2px 0
}

.codigo-componente .doc-nav li {
	float:left;
}

.codigo-componente .datePickerBox {
	float:none;
}

.codigo-componente .component-search .datePickerBox {
	float:left;
}

.componente a {
	color:#090;
	text-decoration:none;
}

.componente a:hover{
	color:#0c0;
	text-decoration:underline;
}


/* Mensajes*/

.component-container {
	background:#e3e7e5;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	margin:1px 5px 2px 5px;
	overflow:hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.component-timesheet {
	background:#e3e7e5;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	margin:1px 5px 2px 5px;
	overflow:hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.component-timesheet p {
	padding:5px;
	margin:0;
	float:left;
}

.component-timesheet a.accion {
	display:block;
	float:right;
	color:#1ca21c;
	text-decoration:none;
	padding-left:10px;
	background:url(../images/icons/green-arrow.gif) no-repeat 0 2px;
	margin-right:20px;
	margin-top:14px;
	text-shadow: #fff 0 0 4px;
}

.component-timesheet-header {
	background:#D7DEDB;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	margin:0px 5px 0px 5px;
	overflow:hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.component-timesheet-header p {
	padding:5px;
	margin:0;
	float:left;
}

.component-timesheet-header a.accion {
	display:block;
	float:right;
	color:#1ca21c;
	text-decoration:none;
	padding-left:10px;
	background:url(../images/icons/green-arrow.gif) no-repeat 0 2px;
	margin-right:20px;
	margin-top:5px;
	text-shadow: #fff 0 0 4px;
}