@charset "UTF-8";

/* Cuenta Corriente HTS */
/* Prototipo Desarrollado por ContinuumChile 2010 */


h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
ul,
ol,
dl {
	padding:0;
	margin:0;
	font-weight:normal;
}

a {
	color:#333;
}

body {
	font-family:"Trebuchet", Arial;
	font-size:12px;
	padding:0;
	margin:0;
	color:#666;
}

.break {
	clear:both;
}

#app {
	width:980px;
	background:#eceded;
	padding-bottom:20px;
	min-height:420px;
}

.dataTop {
	padding:6px 10px 0 15px;
	overflow:hidden;
	clear:both;
	*height: 150px;
}

.datosCliente {
	overflow:hidden;
	padding-top:15px;
	color:#333;
	min-height:130px;
}

.dataMid {
	padding:0;
	overflow:hidden;
	margin:0 10px 0 12px;
}

.mainContent {
	background:url(../img/bg-main-content.gif) repeat-x #e7e8e8 0 -10px;
	border:1px solid #fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 10px #ccc;
	-webkit-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px #ccc;
	padding:6px;
	padding-top:15px;
	margin:6px 5px 6px 0;
}

.nav-top {
	text-align:right;
	list-style:none;
	overflow:hidden;
	padding:8px 10px;
	background:#B2B2B2;
	color:#FFF;
	*height: 26px;
}

.nav-top li {
	float:right;
	margin-right:5px;
}

.nav-top li span {
	padding-top:4px;
	display:block;
}

.nav-top li.nombreEjecutivo {
	float:left;
}

.cerrarSesion {
	text-decoration:none;
	background:url(../img/cross.png) no-repeat 88px 3px #ddd;
	display:block;
	padding:4px 12px;
	padding-right:25px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.cerrarSesion:hover {
	background:url(../img/cross.png) no-repeat 88px 3px #fff;
}

.cambiarPaciente {
	text-decoration:none;
	background:url(../img/change.png) no-repeat 112px 3px #ddd;
	display:block;
	padding:4px 12px;
	padding-right:25px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.cambiarPaciente:hover {
	background:url(../img/change.png) no-repeat 112px 3px #fff;
}

.datosPrincipales {
	background:white;
	padding:12px;
	border:1px solid #ddd;
}

.sidebar {
	width:200px;
	float:right;
	padding:6px;
}

a.closeWin {
	background:url(../img/close.gif) no-repeat right 0;
	display:block;
	height:18px;
	width:18px;
	color:#FFF;
	text-decoration:none;
	outline:0px;
	float:right;
	margin:4px 4px 0 0;
}

.datosEjecutivo,
.bloqueAyuda {
	border:1px solid #FFF;
	background:#e2e3e4;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px #ccc;
	-webkit-box-shadow:0 0 10px #ccc;
}

.datosEjecutivo h3,
.bloqueAyuda h3 {
	background:url(../img/bg-box-title.gif) repeat-x;
	padding:5px 8px;
	color:#FFF;
	font-weight:bold;
	margin-bottom:5px;
	font-size:12px;
}

.datosEjecutivo .boxForm,
.bloqueAyuda .boxForm {
	background:#FFF;
	padding:8px;
	color:#333;
}

.datosEjecutivo .boxForm button{
	margin-top:10px;
	cursor:pointer;
	background:url(../img/ui-bg_gloss-wave_35_f6a828_500x100.png) repeat-x;
	padding:4px;
	color:#FFF;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #E78F08;
	font-size:11px;
	text-shadow:1px 1px #666;
}

h1 {
	color:#e47f00;
	font-size:18px;
	font-weight:bold;
	padding-bottom:10px;
	padding-left:6px;
	padding-right:10px;
	padding-top:5px;
}

.mainContent h1 {
	padding-bottom:3px;
	border-bottom:1px dotted #ccc;
}

.mainContent h2 {
	font-size:15px;
	font-weight:bold;
	padding-bottom:2px;
	padding-left:6px;
	padding-right:10px;
	padding-top:3px;
}

.vistaLogin {
	margin-right:0;
	margin-top:30px;
	margin-left:30px;
	margin-top:30px;
	padding:30px;
	width:370px;
}

.vistaLogin h1{
	font-size:22px;
	letter-spacing:-0.03em;
}

.sidebarLogin {
	float:right;
	width:43%;
	display:block;
	margin-top:30px;
	padding:15px;
	padding-right:40px;
}

.sidebarLogin h3{
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}

.sidebarLogin ul{
	margin-left:20px;
}

.lineForm{
	padding:4px 6px;
	overflow:hidden;
	*clear:both;
}

.lineForm label{
	display:block;
	float:left;
	padding:4px 0;
	width:130px;
	font-weight:bold;
	font-size:14px;
}

.lineForm .textFields{
	display:block;
	float:left;
	font-size:11px;
	width:100px;
	font-weight:normal;
	border:1px solid #ccc;
	height:19px;
	width:210px;
}

.lineForm .rutField{
	width:120px;
}

.lineForm .digitoVerificador{
	width:16px;
}

.lineForm span.guionVerificador{
	float:left;
	display:block;
	margin:0 3px;
	font-size:18px;
	padding-top:1px;
}

.typeButton,
.ui-dialog button{
	margin-top:10px;
	cursor:pointer;
	background:url(../img/ui-bg_gloss-wave_35_f6a828_500x100.png) repeat-x;
	padding:4px 8px;
	color:#FFF;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:12px;
	letter-spacing:-0.03em;
	-moz-box-shadow:0 0 12px #FFF;
	-webkit-box-shadow:0 0 12px #FF;
	box-shadow:0 0 12px #FFF;
	text-shadow:1px 1px #666;
	border:1px solid #E78F08;
	
}

.typeButton.over {
	background:url(../img/bg-button_hover.gif) repeat-x;
}

.vistaResumen {
	width:730px;
	margin-right:0;
}

.vistaConsultaRut {
	width:530px;
	margin-right:0;
}

.formLogin {
	padding:6px;
}

.sidebar.consultaRut {
	width:400px;
}

.sidebar.resumen {
	width:370px;
}

.modoConsulta {
	margin-top:10px;
}

.grillaStandar {
	width:100%;
	background:#FFF;
	margin:0;
	margin-top:5px;
}

.grillaInterna {
	margin-bottom:8px;
}

.grillaNiveles {
	margin-top:8px;
	margin-bottom:0;
}

.grillaStandar th {
	/*background:#e47f00;*/
	background:url(../img/ui-bg_gloss-wave_35_f6a828_500x100.png) repeat-x;
	color:#FFF;
	padding:6px 10px;
	border-bottom:1px solid #c87600;
	border-right:1px solid #c87600;
	text-align:left;
}

.grillaInterna th{
	background:#999 !important;
	color:#fff !important;
	border-bottom-color:#ccc;
	border-right-color:#ccc;
	padding:4px 8px;
}


.grillaStandar td {
	text-align:left;
	padding:4px 8px;
	border-bottom:1px solid #DDD;
	line-height:12px;
	vertical-align:top;
}

.grillaStandar tr.subtotales td {
	font-weight:bold;
	font-size:13px;
	background:#EEE;
	padding:8px;
}

.grillaStandar tr.even td {
	background:#F6F6F6
}

table tr td span.notaTotalRevision {
	font-weight:normal;
	font-size:13px;
	background:#EEE;
	padding:8px;
	font-style: italic;
	display: block;
	color: #666;
}

.grillaNiveles,
.grilla-nivel-1,
.grilla-content-niveluno{
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	width:100%;
}

.grillaNiveles th{
	padding:6px;
	border:none;
	background:#666;
	color:#FFF;
}

.grilla-nivel-1 th{
	padding:6px;
	border:none;
	color:#FFF;
	border-bottom:1px solid #FC9;
}

.grilla-content-niveluno td{
	padding:6px;
	border:none;
	color:#666;
	font-weight:bold;
}

.grilla-content-niveluno .fila-content-nivel2 td{
	padding:0;
}

.grilla-content-niveluno .fila-subtotales td{
	background:#D7D7D7;
	color:#000;
}

.columna-1{
	width:18px;
	text-align:left;
}

.columna-2{
	width:55px;
	text-align:left;
}

.columna-3{
	width:45px;
	text-align:left;
}

.columna-4{
	width:55px;
	text-align:left;
}

.columna-6{
	text-align:left;
	width:65px;
}

.columna-7{
	text-align:right;
	width:45px;
}

.columna-8{
	text-align:center;
	width:30px;
}

.columna-9{
	text-align:center;
	width:30px;
}

.columna-10{
	text-align:right;
	width:60px;
}

.columna-11{
	text-align:right;
	width:70px;
}

.columna-12{
	text-align:right;
	width:80px;
}

.columna-colspan,
.columna-5{
	text-align:left;
}

.grupoAcordeon {
	margin-bottom:5px;
	font-size:10px;
}

.contentTitleNivelUno {
	background:url(../img/ui-bg_gloss-wave_35_f6a828_500x100.png) repeat-x;;
}

.contentTitleNivelTotal {
	background:#FFF;
	color:#E47F00;
}

.contentTitleNivelTotal table{
	width:100%;
}

.contentTitleNivelTotal tr td{
	padding:8px 6px;
	font-weight:bold;
}

.contentTitleNivelUno.nivelOpen,
.contentTitleNivelUno.nivelHover{
	background:#fea536;
}


.contentTitleNivelUno table{
	width:100%;
	font-size:9px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}

.contentTitleNivelUno table td{
	padding:6px;
	border-bottom:1px solid #FFF;
	color:#FFF;
}

.fila-nivel-uno table{
	width:100%;
}

.fila-nivel-uno table tr td{
	padding:6px;
}

.grilla-nivel-2,
.grilla-nivel-3{
	width:100%;
}

.fila-nivel-2 {
	
}

.fila-nivel-3 {
	
}

.grilla-nivel-2 .fila-nivel-2 td,
.grilla-nivel-2 .fila-nivel-2 th{
	padding:4px 6px;
	color:#666;
	font-weight:bold;
	border-bottom:1px dotted #ddd;
	background-color: #FAFAFA;
}

.grilla-nivel-3 .fila-nivel-3 td,
.grilla-nivel-3 .fila-nivel-3 th{
	padding:2px 6px;
	font-weight:normal;
	border-bottom:1px dotted #999;
}

.open{
	background:url(../img/maximize.gif) no-repeat 0 0;
	display:block;
	width:18px;
	height:14px;
}

.fila-nivel-1 .open{
	background:url(../img/open.png) no-repeat 0 0;
}

.close{
	background:url(../img/minimize.gif) no-repeat 0 0;
	display:block;
	width:18px;
	height:14px;
}

.fila-nivel-1 .close{
	background:url(../img/close.png) no-repeat 0 0;
}

.grilla-total{
	font-size:12px;
}


.open span,
.close span{
	text-indent:-9000px;
	position:absolute;
}

a.buttonsTable {
	display:block;
	padding:3px;
	background:#333;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-shadow:1px 1px #666;
}

a.buttonsTable:hover {
	background:#e47f00;
	color:#FFF
}

.bottom-nav {
	padding:10px 5px 7px 5px;
	overflow:hidden;
}

.bottom-nav button{
	margin-top:0;
	text-shadow:-1px -1px #666;
}

.tabs-nav{
	list-style:none;
	overflow:hidden;
	margin-top:12px;
	background:url(../img/bottom-line-ccc.gif) repeat-x 0 bottom;
}

.tabs-nav li{
	float:left;
}

.tabs-nav li a{
	display:block;
	padding:6px 12px;
	text-decoration:none;
	border:1px solid #ccc;
	border-bottom:1px solid #ccc;
	outline:0px;
}

.tabs-nav li.tab-unselect a{
	background:#ddd;
	border-bottom:1px solid #ccc;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right:1px;
	margin-left:1px;
	color:#999;
}

.tabs-nav li.tab-select a{
	background:#FFF;
	border-bottom:1px solid #FFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight:bold;
	
}

.contenidoItems{
	padding:5px;
	background:#FFF;
	border:1px solid #ccc;
	border-top:none;
	*clear:both;
}

.contenidoItems h4{
	font-size:14px;
	font-weight:bold;
	letter-spacing:-0.02em;
	padding:5px 2px;
}

.mensaje{
	border:1px solid;
	margin-top:6px;
}

.mensaje p,
div.borde-mensaje{
	padding:15px 20px;
	border:2px solid #fff;
	padding-left:45px;
	display:block;
	overflow:hidden;
}

.mensaje p a{
	font-weight:bold;
}
.mensaje p strong,
div.borde-mensaje strong{
	display:block;
	font-size:14px;
}

.mensaje.aviso{
	background:url(../img/cancel.png) no-repeat 10px 15px #FF9;
	border-color:#FF3;
}

.mensaje.aviso p a{
	color:#F90;
}

.mensaje.alerta{
	background:url(../img/cancel.png) no-repeat 10px 15px #ED1605;
	border-color:#ED1605;
	color:#FFF;
}

.mensaje.alerta p a{
	color:#FFFFFF;
}

.mensaje.exito{
	background:url(../img/check.png) no-repeat 10px 15px #EBFFE2;
	border-color:#009900;
}

.mensaje.exito p a{
	color:#ED1605;
}

.cuadro-agendar-dia{
	float:right;
	width:300px;
	padding-left:20px;
	border-left:1px solid #ccc;
}

.cuadro-agendar-dia a{
	float:right;
	width:70px;
	border:none;
	display:block;
	padding:6px;
	border:1px solid #fff;
	background:#009900;
	color:#FFF;
	text-decoration:none;
	margin-left:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-shadow:1px 1px #666;
	-moz-box-shadow:0 0 12px #ccc;
	-webkit-box-shadow:0 0 12px #ccc;
	box-shadow:0 0 12px #ccc;
}

.cuadro-agendar-dia a:hover{
	background:#00cc00;
}

.cuadro-agendar-dia-disabled a{
	float:right;
	width:70px;
	border:none;
	display:block;
	padding:6px;
	border:1px solid #fff;
	background:#999;
	color:#FFF;
	text-decoration:none;
	margin-left:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-shadow:1px 1px #666;
	-moz-box-shadow:0 0 12px #ccc;
	-webkit-box-shadow:0 0 12px #ccc;
	box-shadow:0 0 12px #ccc;
}

.estado-01,
.estado-02,
.estado-03{
	display:block;
	padding:4px 6px;
	color:#666;
	font-weight:bold;
	float:left;
}

.grillaStandar tr.g-vencida td{
	background:#ffdddd;
	color:#ED1605;
	font-weight:bold;
}

.grillaStandar tr td.icon-vencida{
	background:url(../img/g-vencida.png) no-repeat right 2px #ffdddd !important;
	color:#ED1605;
}

.textAlerta{
	color:#F00 !important;
}

.btn-print{
	float:right;
	position:relative;
	margin-top:-35px;
	*margin-top:-40px;
	height:35px;
	width:105px;
}

.btn-print a{
	cursor:pointer;
	background:url(../img/doc_pdf.png) no-repeat 3px 2px #ccc;
	padding:4px;
	padding-left:23px;
	color:#000;
	display:block;
	font-size:11px;
	text-decoration:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.btn-print a:hover{
	background:url(../img/doc_pdf.png) no-repeat 3px 2px #fff;
}

.infoPaciente{
	padding:6px 10px;
	overflow:hidden;
}

.infoPaciente h5{
	font-size:14px;
	color:#000;
	font-weight:800;
	border-bottom:1px dotted #ccc;
	padding:3px 0;
}

.infoPaciente .datosIzq
{
	float:left;
	width:45%;
	border-right:1px dotted #ccc;
	padding-right:1%;
}

.infoPaciente .datosDer
{
	float:left;
	width:50%;
	margin-left:10px;
}

.infoPaciente .modDatos,
.infoPaciente .enviaDatos,
.infoPaciente .cacelaDatos
{
	float:right;
	text-decoration:none;
	height:;
	width:;
	display:block;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	padding-top:5px;
	font-size:11px;
	background:#ddd;
	border-left:1px solid #fff;
}

.infoPaciente .modDatos:hover
{
	background:#ccc;
	color:#000;
}

.infoPaciente ol,
#formContactoEjecutivo ol
{
	list-style:none;
	padding:10px;
}

.infoPaciente ol li,
#formContactoEjecutivo  ol li
{
	margin-bottom:4px;
	display:block;
	overflow:hidden;
}

.infoPaciente ol li strong
{
	float:left;
	display:block;
	width:44%;
}

.infoPaciente ol li span,
.infoPaciente ol li label
{
	float:left;
	display:block;
	width:49%;
}

#formContactoEjecutivo ol li label
{
	display:block;
	float:none;
	margin-top:5px;
}

.infoPaciente input,
.infoPaciente select
{
	border:1px solid #ccc;
	width:190px;
}

#formContactoEjecutivo input,
#formContactoEjecutivo select
{
	border:1px solid #ccc;
	width:250px;
}

#formContactoEjecutivo textarea
{
	border:1px solid #ccc;
	width:250px;
	height:100px
}

.infoPaciente input[disabled],
.infoPaciente select[disabled]
{
	background:#F0F0F0;
}


/* Extras */

#top-hts {
	width:980px;
	margin:0 auto;
}

/* AÃ±adidos por Carlos */

.contentGroupNivelUno.opened .contentDetailNivelUno{
	display: block;
}

.contentGroupNivelUno.collapsed .contentDetailNivelUno{
	display: none;
}

.contentGroupNivelDos.opened .contentDetailNivelDos{
	display: block;
}

.contentGroupNivelDos.collapsed .contentDetailNivelDos{
	display: none;
}

.link-openerN1{
	display:block;
	width:18px;
	height:16px;
}

.collapsed .fila-nivel-1 .link-openerN1{
	background:url(../img/open.png) no-repeat 0 0;
}

.opened .fila-nivel-1 .link-openerN1{
	background:url(../img/close.png) no-repeat 0 0;
}

.link-openerN2{
	display:block;
	width:18px;
	height:16px;
}

.contentGroupNivelDos.collapsed .fila-nivel-2 .link-openerN2{
	background:url(../img/maximize.gif) no-repeat 0 0;
}

.contentGroupNivelDos.opened .fila-nivel-2 .link-openerN2{
	background:url(../img/minimize.gif) no-repeat 0 0;
}