/* Controles UI
 * Desarrollado por Continuum Lltda. 2010 */
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif; }

form {
  padding: 0;
  margin: 0;
  outline: 0px; }

.app {
  width: 980px;
  margin: 0 auto;
  font-size: 12px;
  background: white;
  overflow: hidden;
  background: url(../images/sidebar-bg.gif) repeat-y 282px 0 white; }
  .app .sidebar {
    width: 250px;
    float: left;
    padding: 10px 25px; }
    .app .sidebar ul {
      margin-bottom: 25px; }
      .app .sidebar ul li {
        text-decoration: none; }
    .app .sidebar a {
      text-decoration: none;
      padding: 8px 6px;
      border-bottom: 1px solid #eeeeee;
      display: block;
      outline: 0px;
      color: #a96d0f; }
      .app .sidebar a:hover {
        background: #a96d0f; }
  .app .content {
    width: 630px;
    float: left;
    padding: 10px 20px;
    border-left: 1px dotted #cccccc;
    min-height: 675px; }
    .app .content h2 {
      font-size: 24px;
      color: #006600;
      margin: 0;
      padding: 18px 0 0 0;
      display: block; }
    .app .content p {
      line-height: 18px; }
  .app .sidebar h3 {
    font-size: 18px;
    margin: 0;
    padding: 18px 0;
    display: block; }

.detalle-componente {
  color: #666666;
  line-height: 18px;
  margin: 18px 0; }

.codigo-componente {
  margin: 15px 0 30px 0;
  border-top: 1px solid #eeeeee;
  padding-top: 10px; }
  .codigo-componente pre {
    background-color: #f1f1f1;
    overflow: auto;
    padding: 10px; }

.app .content h4 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 30px;
  display: block; }

.codigo-componente .classList li {
  margin: 3px 0; }
.codigo-componente .doc-nav {
  overflow: hidden;
  background: #dddddd;
  margin: 2px 0; }
  .codigo-componente .doc-nav li {
    float: left; }
.codigo-componente .datePickerBox {
  float: none; }
.codigo-componente .component-search .datePickerBox {
  float: left; }

.componente a {
  color: #a96d0f;
  text-decoration: none; }
  .componente a:hover {
    color: #a96d0f;
    text-decoration: underline; }

/* Mensajes */
.component-container {
  background: #eeeeee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 1px 5px 2px 5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.component-timesheet {
  background: #fdf7ed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 1px 5px 2px 5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .component-timesheet p {
    padding: 5px;
    margin: 0;
    float: left; }
  .component-timesheet a.accion {
    display: block;
    float: right;
    color: #a96d0f;
    text-decoration: none;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 14px;
    text-shadow: white 0 0 4px; }

.component-timesheet-header {
  background: #f1b961;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0px 5px 0px 5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .component-timesheet-header p {
    padding: 5px;
    margin: 0;
    float: left; }
  .component-timesheet-header a.accion {
    display: block;
    float: right;
    color: #a96d0f;
    text-decoration: none;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 5px;
    text-shadow: white 0 0 4px; }

a.accion {
  display: inline;
  color: #a96d0f;
  text-decoration: none;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 5px;
  text-shadow: white 0 0 4px; }
  
  
div.grippie {
	background:#EEEEEE url(../images/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}
.resizable-textarea textarea {
	display:block;
	margin-bottom:0pt;
	width:95%;
	height: 20%;
}  
