#tab.component-navigator-menu
  %ul
    -if self.controller_name == 'timesheet'
      - claseTime = 'tab-select'
      - claseAdmin = 'tab-unselect'
      - claseReport = 'tab-unselect'
    -elsif self.controller_name == 'proyectos'
      - claseTime = 'tab-unselect'
      - claseAdmin = 'tab-select'
      - claseReport = 'tab-unselect'
    -else  
      - claseTime = 'tab-unselect'
      - claseAdmin = 'tab-unselect'
      - claseReport = 'tab-select'
      
    %li{:class => "#{claseTime} first"}
      %a#tab-timesheet{:href => root_path} Timesheet
    - if session[:usuario].perfil == 'ADMIN'
      %li{:class => "#{claseReport} unit"}
        %a#tab-reports{:href => reportes_path } Reportes
      %li{:class => "#{claseAdmin} last"}
        %a#tab-admin{:href => proyectos_path} Admin
    %li.clearfix