global: &global
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: trilla
  password: trilla

development:
  <<: *global
  database: trilla

test:
  <<: *global
  database: trilla_test

production:
  <<: *global
  database: trilla_prod

