global: &global
  adapter: mysql
  encoding: utf8
  reconnect: false
  pool: 5
  username: user
  password: pass
  host: 127.0.0.1
  socket: /tmp/mysqld.sock

development:
  <<: *global
  database: trilla

test:
  <<: *global
  database: trilla_test

production:
  <<: *global
  database: trilla_prod

