= render(:partial => "shared/adminmenu")
.component-navigator-tabs
  %ul
    %li.tab-select.first
      %a#tab-form{:href => "javascript:void(0)"} Nuevo Usuario
    %li.clearfix
.component-search
  =error_messages_for :usuario, :header_message => "Errores:", :message => ""
  - form_for(@usuario) do |f|
    .component-search-forms.forms-two-cols
      = render :partial => 'fields', :locals => { :f => f}  
      .clearfix
    .component-search-actions
      = f.submit 'Crear'
      = link_to 'Cancelar', usuarios_path
