<div style="margin-left: 300px; margin-top:100px; margin-bottom:100px; text-align:center;">
<% form_tag do %>
	<fieldset style="width: 220px;">
	<legend><%=flash[:notice]%></legend>
	<table>
		<tr>
			<td align="right"><label for="name">Name:</label></td>
			<td><%= text_field_tag :name, params[:name], :value => '15587917'%></td>
		</tr>
		<tr>
			<td align="right"><label for="password">Password:</label></td>
			<td><%= password_field_tag :password, params[:password], :value => '123456' %></td>
		</tr>
		<tr>
			<td colspan="2"><%= submit_tag "Login" %></td>
		</tr>
	</table>
	</fieldset>
<% end %>
</div>