%p
  %b Proyecto:
  = h @proyecto_usuario.proyecto
%p
  %b Usuario:
  = h @proyecto_usuario.usuario
= link_to 'Edit', edit_proyecto_usuario_path(@proyecto_usuario)
|
\#{link_to 'Back', proyecto_usuarios_path}
