!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Administrador #{controller.action_name}
    %link{:href => "/harv/css/componentes.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/harv/css/general.css", :rel => "stylesheet", :type => "text/css"}/
    / jQuery
    %script{:src => "/harv/js/jquery/core/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/harv/js/jquery/ui/jquery-ui.min.js", :type => "text/javascript"}
  %body
    .app
      = yield
%script{:src => "/harv/js/jquery.tablednd_0_5.js", :type => "text/javascript"}
%script{:src => "/harv/js/controles-achs.js", :type => "text/javascript"}
%script{:src => "/harv/js/jquery.bgiframe.min.js", :type => "text/javascript"}
